$bg-color: #333;
$bk-large: 1024px;

body {
  background-color: $bg-color;
}

.contenedor {
  width: 95%;
  margin: 2rem auto;
  @media screen and (min-width: $bk-large) {
    width: 66%;
  }
}

.galeria__item {
  img {
    max-width: 100%;
    display: block;
  }
}

.masonry-layout {
  --columns: 1;
  --gap: 1rem;
  $columns: 6;
  display: grid;
  grid-template-columns: repeat(var(--columns),1fr);
  grid-gap: var(--gap);

  .masonry-item {
    margin-bottom: var(--gap);
  }
  @for $i from 1 through $columns {
    &.columns-#{$i} {
      --columns: #{$i};
    }
  }
}
